header {
    background-color: $primary-color;
    color: #FFFFFF;
    background-image: radial-gradient(ellipse, $secondary-color);
    
    nav {
        ul {
            list-style-type: none;

            li {
                a {
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: 1s;

                    &:hover {
                        color: yellow;
                        margin: 12px;
                    }
                }
            }
        }
    }
}