$primary-font: 'Croissant One', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$primary-color: rgb(34, 34, 34);
$secondary-color: #ad86ba;
$background-color: wheat;
$footer-color: #BA9568;
$footer-bg: #111119;